.tab-container {
  margin-top: 20px;
}
.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 30px;
  border: solid;
  border-width: 5px 0 0 0;
}
.tab-button {
  padding: 10px;
  cursor: pointer;
  /* width: 100%; */
  min-width: 250px;
  border-width: 0 2px 2px 2px;
  border-radius: 0;
}

@media (max-width: 768px) {
  .tabs {
    gap: 20px;
  }
  .tab-button {
    min-width: 120px;
  }
}
.tab-with-summarize.tab-container .tab-button {
  background-color: #fff;
}
.tab-with-summarize.tab-container .tab-button.active {
  background-color: var(--g-color);
}
.tab-button.active {
  /* background-color: #ccc; */
  /* text-decoration: underline; */
  border-bottom: 5px solid black;
}
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
#deep-read p,
#quick-read p {
  margin-bottom: 30px;
  margin-top: 15px;
}